In [1]:
import  os # shift+enter    # if we find in python location in our pic we write
                            # import os 
                            # os.getcwd()

In [2]:
os.getcwd()    # tab button

'C:\\Users\\HP\\Documents\\nareshIT\\Python'

## variables concept

- variables is used to store a value 

- variables can change their values

- In python latest value will be consider 

- Python is a step by step process

In [2]:
num=10
num

# its also know # symbol comment 
# value 10 stored in variable called 'num'

10

In [4]:
Num=100
Num                           # whenever you run 
                              # new cell will be created
                              # shift+enter (key)

100

In [8]:
number=100

In [9]:
number

100

In [ ]:
# num = 10
# NUM = 100

In [1]:
NUMber = 200
NUMber

200

In [12]:
Nu=10
Nu

10

In [2]:
number123=300
number123

300

In [15]:
Number = 200
Number

200

In [19]:
123number=400
123number           # any variable not started numbers

SyntaxError: invalid decimal literal (3622487932.py, line 1)

In [21]:
kajal

NameError: name 'kajal' is not defined

In [23]:
kajal=500

In [25]:
kajal

500

In [3]:
number@one=1
number@0ne

NameError: name 'number0ne' is not defined

In [29]:
number one=300 #

SyntaxError: invalid syntax (1964631659.py, line 1)

In [36]:
number_one=500
number_one

500

In [38]:
_kajal=10
_kajal

10

In [4]:
_= 800
_

800

In [5]:
if=700
if

SyntaxError: invalid syntax (3092338201.py, line 1)

- variable are case sensitive( my_variables is diffrent from my_variables)

- variable can be capital and small letters 

- variable does not allow underscore (_)

- variable does not allow to start with number as prefix  

- variable does not allow to space

- variable can have numbers as suffix Ex: num123:

- variable does not  contain any keywords

- variables does not start with number

- creating a variable simple use assignment operator(=) to assign a value to a variable.

In [6]:
while = 800
while

SyntaxError: invalid syntax (3034632313.py, line 1)

In [8]:
k_a_j_a_L =1000
k_a_j_a_L

1000